  <div class="header">
{{!-- <h1>DONUT EATER</h1> --}}
<img src="/assets/title.png" width="700px"/>
  </div>
 
 <div class="container">
    <div class="flexrow1">


<form class="form-inline create-form">
  <label for="burgerType"><h2>MAKE A DONUT:</h2></label>
  <input type="text" id="burgerType" placeholder="What kind of donut do you want to make?" name="name">
  <button type="submit" class="hover01">  <img src="/assets/donut.png" id="lildonut" width="40px"/></button>
</form>
 </div>

    <div class="flexrow">
      <ul>
        <h1>EAT A DONUT</h1>
        {{#each burgers}}
          {{#unless devoured}}
          <li class="hover01 eatdaburger" data-id="{{id}}" data-newDevoured="true"> 
            {{burger_name}}
            <img src="/assets/donut.png" id="lildonut" width="25px"/>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="flexrow">
    <ul>
        <h1>DEVOURED DONUTS</h1>
      {{#each burgers}}
        {{#if devoured}}
        <li>{{burger_name}} </li> 
        {{/if}}
      {{/each}}
    </ul>
    </div>
</div>
